body { background-color: #e7d1d1 }
p { 
  /* Comment Ja */
  font-family: sans-serif;
  text-align: center;
  color: red
}
.kwa {
  text-align: right;
}
h1, h2, h3 {
  color: green
}
a {
    text-decoration: none;
}

#address {
    color: blue   
}