@font-face {
    font-family: 'sutregular';
    src: url('../fonts/sut_regular_ver_1.00-webfont.eot');
    src: url('../fonts/sut_regular_ver_1.00-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sut_regular_ver_1.00-webfont.woff2') format('woff2'),
         url('../fonts/sut_regular_ver_1.00-webfont.woff') format('woff'),
         url('../fonts/sut_regular_ver_1.00-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0E00–U+0E7F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(9deg, rgba(25,18,65,1) 0%, rgba(25,21,71,1) 19%, rgba(25,32,90,1) 37%, rgba(25,50,120,1) 58%, rgba(26,74,162,1) 77%, rgba(27,95,197,1) 100%);
}

.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

/* ========================== banner ==========================  */
.banner_container{
    margin: 7.65625% 0 0 0;  /*147px*/
    text-align: center;
}

.banner{
    background-image: url("../images/cover-1900x542.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 27rem;
    padding: 17rem 0 2rem;
}

.b{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -27rem;
    width: 100%;
    height: 27rem;
    /* backdrop-filter: blur(8px); */
}

.banner_content{
    font-family: 'sutregular';
    color: #FFFFFF;
    /* position: relative; */
}

.text-head {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}

.text-content {
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 0;
}

@media only screen and (max-width: 780px) {
    .text-head {
        font-size: 3rem;
    }
    .text-content {
        font-size: 1.5rem;
    }
}
/* ========================== banner ==========================  */

/* ========================== content ==========================  */
.content_container{
    margin: 7.65625% 0 12.96875%;  /* 147px , 249px */
}

.content_grid{
    display: grid;
    grid-template-columns: 31.760416666666677% 31.760416666666677%;
    grid-gap: 7.447916666666667%;
    justify-content: center;
    text-align: center;
    padding: 0 8.541666666666667%;
}

.content_item{
    width: 100%;
    height: auto;
    background: linear-gradient(52deg, rgba(37,69,188,1) 0%, rgba(91,64,167,1) 10%, rgba(113,63,160,1) 22%,
     rgba(131,55,152,1) 35%, rgba(196,26,127,1) 57%, rgba(221,32,106,1) 75%);
    border-radius:10px ;
    padding: 2rem 4rem 1rem;

    font-family: 'sutregular';
    color: #FFFFFF;
}

.content_item h2{
    line-height: 2rem;
    margin-bottom: 15px;
}

.content_item h2::after{
    content: "";
    border-bottom: 2px solid #fff;
    width: 100%;
    display: block;
    transform: scaleX(1);
    transition: transform 0.2s ease-in;
}

.content_item p{
    font-size: 1.3rem;
    font-weight: lighter;
    line-height: 1.5rem;
}

.content_item h3{
    line-height: 1.5rem;
}

.content_item a{
    text-decoration: none;
    color: #FFFFFF;
}

.icon_location{
    margin: 0 0 1rem;
}

.icon_location img{
    width: 3.9rem;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in;
}

.icon_phone{
    margin: 1rem 0 1rem;
}

.icon_phone img{
    width: 4rem;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in;
}

.content_item:hover{
    background: linear-gradient(302deg, rgba(37,69,188,1) 0%, rgba(91,64,167,1) 10%, rgba(113,63,160,1) 22%,
     rgba(131,55,152,1) 35%, rgba(196,26,127,1) 57%, rgba(221,32,106,1) 75%);
}
.content_item:hover .icon_location img{
    transform: rotate(45deg)
}
.content_item:hover .icon_phone img{
    transform: rotate(-90deg)
}
.content_item:hover h2::after{
    content: "";
    transform: scaleX(0);
    
}

@media only screen and (max-width: 780px) {
    .content_grid{
        display: grid;
        grid-template-columns: 1fr;
    }

   .content_item h2 {
       font-size: 1.5rem;
   }

   .content_item p {
        font-size: 1.25rem;
   }
} 
/* ==============x============ content =============x=============  */

/* ========================== footer ==========================  */
footer{
    width: 100%;
    height: auto;
    background: #1F1F1F;
}

.footer_grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.contact_us{
    font-family: 'sutregular';
    color: #FFFFFF;
    padding: 6rem 0 0 10rem;
}

.contact_us h3 a{
    text-decoration: none;
    color: #FFFFFF;
}

.contact_us h2{
    margin-bottom: 15px;
}

.contact_us h3{
    line-height: 1.5rem;
}

.contact_us p{
    font-size: 1.3rem;
    font-weight: lighter;
    margin-bottom: 15px;
    line-height: 1.5rem;
}

.facebookpage{
    padding: 1rem;
    justify-self: center;
}

@media only screen and (max-width: 1400px) {
    .contact_us{
        text-align: center;
        padding: 4rem 0 0 8rem;
    }
    .facebookpage{
        padding: 4rem;
    }
}

@media only screen and (max-width: 1024px) {
    .footer_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .contact_us{
        text-align: center;
        padding: 2rem 0 0 0;
    }
    .facebookpage{
        padding: 2rem;
    }
}

@media only screen and (max-width: 780px) {
    .footer_grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact_us{
        text-align: center;
        padding: 6rem 0 0 0;
    }
    .facebookpage{
        padding: 4rem;
    }
}
/* =============x============= footer ============x==============  */