@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:ital,wght@1,700&family=Rubik+Bubbles&family=Silkscreen:wght@400;700&family=Whisper&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Preahvihear&family=Rubik+Maps&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lora&family=Preahvihear&display=swap');




body {
    background-image: url(/gif/-3.gif);
    background-color: #ddd; /*สีพื้นหลัง*/
    font-family: 'Kanit', sans-serif;
    /* background-repeat: no-repeat; */
    background-size: 100%;
    
    
}

.fonts1{
    font-size: 12ex;
    color: red;
    font-family: 'Playfair Display', serif;
}
.fonts2{
    text-align: center;
    color: turquoise;
    font-family: 'Preahvihear', sans-serif;
}
h1 {
    font-size: 24px;
    text-align: center;
}

table {
   
    margin: auto;
    border-collapse: collapse;
    width: 50%;
     /*สีตาราง*/
}

th,td {
    
   /*สีเส้นตาราง*/
    padding: 20px;
    text-align: center;
    font-family: 'Silkscreen', sans-serif;
}

tr:hover {
     background-image: url(/gif/+5.gif); 
     background-size: 100% !important;
    background-repeat: no-repeat    ;
}
.links:hover{
    color: firebrick;
    text-align: center;
} 
.links{
    color: greenyellow;
        /* สีของข้อความ hn1 */
        text-align: center;
        font-family: 'Kanit', sans-serif;  /* เปลี่ยนตระกูลตัวอักษรตามที่คุณต้องการ */
        font-weight: 700;/* น้ำหนักตัวหนังสือ */
        margin-right: 20px;/* ระยะห่างทางขวาของลิงค์ */
            text-decoration: none;  /* ไม่ให้มีขีดเส้นใต้ลิงค์ */
            transition: all .3s ease-in-out;
}
.hh {
    font-size: 16px;
    color: red;
    text-align: center;
    font-family: 'Preahvihear', sans-serif;
}
/* Add more styles as needed */
