@font-face {
    font-family: 'sutregular';
    src: url('../fonts/sut_regular_ver_1.00-webfont.eot');
    src: url('../fonts/sut_regular_ver_1.00-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sut_regular_ver_1.00-webfont.woff2') format('woff2'),
         url('../fonts/sut_regular_ver_1.00-webfont.woff') format('woff'),
         url('../fonts/sut_regular_ver_1.00-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0E00–U+0E7F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(9deg, rgba(25,18,65,1) 0%, rgba(25,21,71,1) 19%, rgba(25,32,90,1) 37%, rgba(25,50,120,1) 58%, rgba(26,74,162,1) 77%, rgba(27,95,197,1) 100%);
}

.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

/* ========================== banner ==========================  */
.banner_container{
    margin: 7.65625% 0 0 0;  /*147px*/
    text-align: center;
}

.banner{
    background-image: url("../images/cover-1900x542.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 27rem;
    padding: 17rem 0 2rem;
}

.b{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -27rem;
    width: 100%;
    height: 27rem;
}

.banner_content{
    font-family: 'sutregular';
    color: #FFFFFF;
}

.text-head {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}

.text-contentc {
    font-size: 1.5rem;
    line-height: 2rem;
    display: block;
}

/* ========================== banner ==========================  */

/* ========================= content ==========================  */

.occup-grid {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'sutregular';
}


.header_content{
    font-family: 'sutregular';
    width: 100%;
    height: auto;
    margin: 0 0 3vh;
    padding: 0.7vh 0;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(90deg, rgba(221,32,106,1) 0%, rgba(222,38,104,1) 22%, rgba(227,57,101,1) 47%, 
                rgba(234,87,95,1) 75%, rgba(241,113,90,1) 100%);
    border-radius: 3vh;
    box-shadow: 2px 8px 14px 0px rgba(62, 75, 73, 0.25);
}

.header_content h3 {
    font-size: 1.3rem;
    margin: 0 0.5rem;
}



.box1 {
    align-self: center;
    font-size: 1.25rem; 
    padding: 2.5vw; 
    background: #ffffff; 
    margin: 1.5rem 0; 
}

.box1 h2 {
    margin-bottom: 1.35rem;
}

.box1 h3 {
    margin-bottom: 1.25rem;
}

.box1 p {
    line-height: 2rem;
}

.box2 {
    align-self: center;
    font-size: 1.25rem; 
    padding: 2.5vw; 
    background: #ffffff; 
    margin: 1.5rem 0; 
}

.box2 p {
    line-height: 2rem;
}

.box2 h2 {
    margin-bottom: 1.35rem;
}



.flex-row {
    font-family: 'sutregular';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem 0rem 8rem;

}

.flex-row div {
    width: 100%;
    margin: 2rem 1rem;
    padding: 0 1.5rem;
    text-align: center;
}

.flex-row img {
    width: 60%;
    border-radius: 50%;
    box-shadow: 4px 8px 12px 7px hsla(171, 9%, 27%, 0.25);
}

.flex-row h3 {
    font-size: 1.25rem;
    color: #FFFFFF;
    margin: 0.5rem;
}

.flex-row p {
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: #FFFFFF;
    margin: 0.5rem 0;
}

.flex-row a {
    font-size: 1.1rem;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: linear-gradient(90deg, rgba(221,32,106,1) 0%, rgba(222,38,104,1) 22%, rgba(227,57,101,1) 47%, 
                rgba(234,87,95,1) 75%, rgba(241,113,90,1) 100%);
    border-radius: 6px;
}

/* ========================= content ==========================  */

/* ========================== footer ==========================  */
footer{
    width: 100%;
    height: auto;
    background: #1F1F1F;
}

.footer_grid{
    display: grid;
    grid-template-columns: 1fr;
}

.contact_us{
    font-family: 'sutregular';
    color: #FFFFFF;
    text-align: center;
    padding: 6rem 0 4rem 0;
}

.contact_us h3 a{
    text-decoration: none;
    color: #FFFFFF;
}

.contact_us h2{
    margin-bottom: 15px;
}

.contact_us h3{
    line-height: 1.5rem;
}

.contact_us p{
    font-size: 1.3rem;
    font-weight: lighter;
    margin-bottom: 15px;
    line-height: 1.5rem;
}

.facebookpage{
    padding: 1rem;
    justify-self: center;
}
/* =============x============= footer ============x==============  */