*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile styles */
@media only screen and (max-width: 400px){
    body{
        background-color: #F09A9D; /* Rad */
    }
}


.page  {
display:flex;
flex-wrap: wrap;
}

.section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #5995DA;
    height: 80px;
}

.header {
    background-color: #B2D6FF;
}
.content {
    background-color: #eaedf0;
    height: 600px;
    order: 2;
}

.sign-up {
    background-color: #D6E9FE;
    height: 20px;
    order: 1;
}

.feature-1 {
    background-color: #F5CF8E;
}

.feature-2 {
    background-color: #F09A9D;
}

.feature-3 {
    background-color: #C8C6FA;
}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px){
    body{
        background-color: #F5CF8E; /* Yellow */
        
    }
    .sign-up,
    .feature-1,
    .feature-2,
    .feature-3{
            width: 50%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px){
    body{
        background-color: #B2D6FF; /* Blue */
        .page {
                width: 960px;
                margin: 0 auto;
            }
        
            .feature-1,
            .feature-2,
            .feature-3 {
                width: 33.3%;
            }
        
            .header {
                height: 400px;
            }
    }
}