html {
  overflow-x: hidden;
}

body {
  background: #fff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
}

p, ul, ol {
  margin-bottom: 30px;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  color: #000;
  font-family: "playfair Display", serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
  color: #000;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
  color: #999999;
}

.btn, .form-control {
  outline: none;
}

.form-group .label {
  font-weight: normal;
}

textarea.form-control {
  height: inherit;
}

.form-field-icon-wrap {
  position: relative;
}

.form-field-icon-wrap .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 18px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-field-icon-wrap select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 47px !important;
}

/* Site Menu*/
.site-menu {
  display: block;
  background: #fff;
  right: 0;
  z-index: 101;
  position: fixed;
  width: 300px;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  bottom: 0;
  top: 0;
  -webkit-box-shadow: 0 -20px 20px -5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 -20px 20px -5px rgba(0, 0, 0, 0.05);
  min-height: 300px;
  overflow: auto;
}

.site-menu ul {
  position: relative;
  margin-top: 150px;
  margin-bottom: 50px;
}

.site-menu ul > li {
  list-style: none;
  visibility: hidden;
  opacity: 0;
  padding: 0;
  margin: 0 0 10px 0;
  top: -20px;
  position: relative;
  text-align: center;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-menu ul > li.is-show {
  visibility: visible;
  opacity: 1;
  top: 0px;
}

.site-menu ul > li a {
  color: #000;
  font-size: 20px;
}

.site-menu.site-menu-show {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.bg-slant-white {
  position: relative;
}

.bg-slant-white:after {
  z-index: 1;
  background: #fff;
  content: "";
  -webkit-transform: rotate(-5deg) translateX(-50%);
  -ms-transform: rotate(-5deg) translateX(-50%);
  transform: rotate(-5deg) translateX(-50%);
  width: 120%;
  position: absolute;
  bottom: 0;
  height: 200px;
  left: 50%;
}

.bg-slant-white.bg-light:after {
  background: #f8f9fa;
}

.site-logo-wrap {
  position: relative;
  z-index: 1021;
}

/* Site Header */
.site-header {
  padding: 3em 30px;
  position: absolute;
  top: 0;
  z-index: 900;
  width: 100%;
}

.site-header .site-logo {
  line-height: 0;
  padding: 2px 10px;
  border: 2px solid #000;
  color: #000;
  font-size: 30px;
  font-weight: bold;
}

.site-header .social li {
  display: inline-block;
}

.site-header .social li a {
  color: #000;
  padding: 0 10px;
}

.site-header .heading {
  color: #fff;
}

.site-header.scrolled {
  position: fixed;
  padding: 1em 30px;
  top: 0;
  background: #fff;
  -webkit-transition: .0s all ease;
  -o-transition: .0s all ease;
  transition: .0s all ease;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.site-header.scrolled .social {
  margin-top: 10px;
}

.site-header.scrolled .social li a {
  color: #000;
}

.site-header.scrolled .site-logo {
  line-height: 1.5;
  display: inline-block;
  position: relative;
  padding: 2px 10px;
  border: 2px solid #000;
  color: #fff;
  background: #000;
  font-size: 30px;
}

.site-header.scrolled .site-nav-toggle {
  top: -5px !important;
}

.site-header.awake {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.site-header.sleep {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.form-control {
  border: 2px solid #cccccc;
}

.form-control:hover, .form-control:focus, .form-control:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 2px solid #ff7a5c;
}

.site-nav-toggle {
  top: -10px !important;
}

.site-nav-toggle i, .site-nav-toggle i:before, .site-nav-toggle i:after {
  background: #000 !important;
}

.btn {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 14px;
  font-weight: 700;
}

.btn:hover, .btn:focus, .btn:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn.btn-primary.btn-outline-primary {
  border-width: 2px;
  cursor: pointer;
}

.btn.btn-outline-white {
 border: 2px solid #fff;
 background: none;
 color: #fff;
 text-decoration: none;
}

.btn.btn-outline-white:hover {
  background: #fff;
  color: #000;
  border: 2px solid transparent;
}

.bg-image, .half .image, .image-bg-fullwidth {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.half .text, .half .image {
  width: 100%;
}

@media (min-width: 992px) {
  .half .text, .half .image {
    width: 50%;
  }
}

.half .text {
  padding: 7%;
  background: #000;
}

.half .text h2 {
  color: #fff;
}

@media (max-width: 991.98px) {
  .half .image {
    height: 250px;
  }
}

.image-bg-fullwidth {
  display: block;
  height: 300px;
}

.section-heading h2 {
  font-size: 50px;
}

@media (max-width: 991.98px) {
  .section-heading h2 {
    font-size: 30px;
  }
}

.section-heading .sub-heading {
  font-size: 20px;
}

.section-heading .small-sub-heading {
  font-size: 14px;
  color: #ff7a5c;
}

@media (min-width: 992px) {
  .media figure.horizontal {
    width: 150px;
  }
}

.media h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.media .post-meta {
  font-size: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.media > a {
  width: 40%;
}

@media (max-width: 767.98px) {
  .media > a {
    width: 100%;
    margin-bottom: 30px;
  }
}

.media.media-bg-white {
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
}

.media.media-bg-white figure {
  margin-bottom: 0;
}

.media.media-bg-white .media-body {
  padding: 20px;
  background: #fff;
}

.ftco-46 .ftco-46-row > div {
  text-align: center;
  width: 100%;
}

@media (min-width: 992px) {
  .ftco-46 .ftco-46-row > div {
    width: 33.33333%;
  }
}

.ftco-46 .ftco-46-subheading {
  font-size: 14px;
  color: #b3b3b3;
  color: #ff7a5c;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.ftco-46 .ftco-46-heading {
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 20px;
  margin-bottom: 30px;
}

.ftco-46 .ftco-46-image {
  background-size: cover;
  background-position: center center;
  position: relative;
}

.ftco-46 .ftco-46-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .05;
}

@media (max-width: 991.98px) {
  .ftco-46 .ftco-46-image {
    height: 200px;
    display: none;
  }
}

.ftco-46 .ftco-46-text {
  padding: 40px;
  background: #fff;
}

@media (max-width: 991.98px) {
  .ftco-46 .ftco-46-text {
    margin-bottom: 20px;
  }
}

.ftco-46 .ftco-46-text.ftco-46-arrow-up {
  z-index: 2;
  position: relative;
}

.ftco-46 .ftco-46-text.ftco-46-arrow-up:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 20px;
  margin-left: -20px;
}

@media (max-width: 991.98px) {
  .ftco-46 .ftco-46-text.ftco-46-arrow-up:after {
    display: none;
  }
}

.ftco-46 .ftco-46-text.ftco-46-arrow-left {
  z-index: 2;
  position: relative;
}

.ftco-46 .ftco-46-text.ftco-46-arrow-left:after {
  right: 100%;
  top: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-right-color: #fff;
  border-width: 20px;
  margin-top: -20px;
}

@media (max-width: 991.98px) {
  .ftco-46 .ftco-46-text.ftco-46-arrow-left:after {
    display: none;
  }
}

.ftco-46 .ftco-46-text.ftco-46-arrow-right {
  z-index: 2;
  position: relative;
}

.ftco-46 .ftco-46-text.ftco-46-arrow-right:after {
  left: 100%;
  top: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left-color: #fff;
  border-width: 20px;
  margin-top: -20px;
}

@media (max-width: 991.98px) {
  .ftco-46 .ftco-46-text.ftco-46-arrow-right:after {
    display: none;
  }
}

.ftco-46 .ftco-46-text p:last-child {
  margin-bottom: 0;
}

.ftco-38 .ftco-38-header .ftco-38-heading {
  font-size: 30px;
  color: #000;
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}

@media (max-width: 991.98px) {
  .ftco-38 .ftco-38-header .ftco-38-heading {
    font-size: 24px;
  }
}

.ftco-38 .ftco-38-header .ftco-38-subheading {
  color: #b3b3b3;
  margin: 0 0 20px 0;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .ftco-38 .ftco-38-header .ftco-38-subheading {
    font-size: 18px;
  }
}

.ftco-38 .ftco-38-header img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.btn-link {
  text-transform: uppercase;
  font-size: 12px !important;
  letter-spacing: .15em;
  text-decoration: none !important;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #000;
  font-weight: 900;
}

.btn-link span {
  position: relative;
  margin-left: 0px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.btn-link:hover, .btn-link:active, .btn-link:focus {
  color: #000;
}

.btn-link:hover span, .btn-link:active span, .btn-link:focus span {
  color: #000;
  margin-left: 10px;
}

.site-tab-nav {
  display: block;
  text-align: center;
  margin-bottom: 80px !important;
}

.site-tab-nav li {
  float: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.site-tab-nav li a {
  background: none;
  color: gray;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .2em;
  border-bottom: 2px solid transparent;
  padding-left: 0;
  padding-right: 0;
  margin: 0 10px;
  font-weight: 600;
  border-bottom: 2px solid #e6e6e6;
}

.site-tab-nav li a.active {
  color: black;
  color: #ff7a5c;
  background: none;
  border-bottom: 2px solid #ff7a5c;
}

.site-tab-nav, .nav-pills {
  text-align: center;
}

.menu-food-item {
  border-bottom: 1px dotted #ccc;
  float: left;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.menu-food-item .text {
  width: calc(100%);
}

.menu-food-item .text img {
  width: 100px;
  margin-bottom: 20px;
  border-radius: 7px;
  float: left;
  margin-right: 30px;
}

@media (max-width: 991.98px) {
  .menu-food-item .text img {
    float: none;
  }
}

@media (min-width: 768px) {
  .menu-food-item .text {
    width: calc(100% - 70px);
  }
}

.menu-food-item .price {
  text-align: left;
  width: 100%;
}

@media (min-width: 768px) {
  .menu-food-item .price {
    width: 70px;
    text-align: right;
  }
}

.menu-food-item .price strong {
  color: #ff7a5c;
  font-size: 20px;
}

.menu-food-item h3 {
  font-size: 22px;
}

.menu-food-item h3 a {
  color: #000;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.menu-food-item h3 a:hover {
  color: gray;
}

.menu-food-item p:last-child {
  margin-bottom: 0;
}

.footer-contact-widget .contact-email {
  color: #ff7a5c;
}

.footer-contact-widget .contact-phone {
  font-size: 30px;
  color: #000;
}

.lead {
  font-size: 16px;
}

.testimonial p {
  font-size: 20px;
  color: #000;
}

.testimonial .author {
  text-align: center;
}

.testimonial .author img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
}

.testimonial .author .author-info {
  margin-top: 20px;
}

.testimonial .author h4 {
  font-size: 18px;
  margin-bottom: 0;
}

.testimonial .author p {
  color: #cccccc;
  font-size: 14px;
}

.custom-icon {
  font-size: 70px;
  color: #ff7a5c;
}

.form-subscribe .form-group {
  position: relative;
}

.form-subscribe .form-group input[type="email"],
.form-subscribe .form-group input[type="text"] {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: #f2f2f2;
  border: none;
  border-radius: 0 !important;
  padding-right: 100px;
}

.form-subscribe .form-group input[type="submit"] {
  position: absolute;
  right: 0;
  top: 1px;
  border-radius: 0 !important;
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.feature-icon .icon {
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
}

.feature-icon .icon > span {
  color: #000;
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.feature-icon h3 {
  margin-bottom: 20px;
}

/* Owl Carousel */
.owl-carousel .owl-item {
  opacity: .4;
}

.owl-carousel .owl-item.active {
  opacity: 1;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -10px;
  opacity: .2;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-prev:focus, .owl-carousel .owl-nav .owl-prev:active,
.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel .owl-nav .owl-next:focus,
.owl-carousel .owl-nav .owl-next:active {
  outline: none;
  opacity: 1;
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 40px;
}

.owl-carousel .owl-nav .owl-prev {
  left: 30px !important;
}

.owl-carousel .owl-nav .owl-next {
  right: 30px !important;
}

.owl-carousel .owl-dots {
  text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: none;
  background: #fff;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: none;
}

.owl-carousel.centernonloop .owl-dots {
  margin-top: 50px;
}

.owl-carousel.centernonloop .owl-dots.disabled {
  display: block !important;
}

.owl-carousel.centernonloop .owl-dots .owl-dot {
  background: #ccc;
}

.owl-carousel.centernonloop .owl-dots .owl-dot.active {
  background: #ff7a5c;
}

.owl-carousel.centernonloop .owl-dots .owl-dot:active, .owl-carousel.centernonloop .owl-dots .owl-dot:focus {
  outline: none;
}

.owl-carousel.home-slider, .owl-carousel.home-slider-loop-false {
  z-index: 1;
  position: relative;
}

.owl-carousel.home-slider .btn-link, .owl-carousel.home-slider-loop-false .btn-link {
  color: #fff;
}

.owl-carousel.home-slider .owl-nav, .owl-carousel.home-slider-loop-false .owl-nav {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel.home-slider .owl-nav button, .owl-carousel.home-slider-loop-false .owl-nav button {
  color: #fff;
}

.owl-carousel.home-slider:focus .owl-nav, .owl-carousel.home-slider:hover .owl-nav, .owl-carousel.home-slider-loop-false:focus .owl-nav, .owl-carousel.home-slider-loop-false:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}

.owl-carousel.home-slider .slider-item, .owl-carousel.home-slider-loop-false .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(100vh);
  min-height: 700px;
  position: relative;
}

.owl-carousel.home-slider .slider-item:before, .owl-carousel.home-slider-loop-false .slider-item:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  content: "";
}

.owl-carousel.home-slider .slider-item .slider-text, .owl-carousel.home-slider-loop-false .slider-item .slider-text {
  color: #fff;
  height: calc(100vh);
  min-height: 700px;
}

.owl-carousel.home-slider .slider-item .slider-text .child-name, .owl-carousel.home-slider-loop-false .slider-item .slider-text .child-name {
  font-size: 40px;
  color: #fff;
}

.owl-carousel.home-slider .slider-item .slider-text h1, .owl-carousel.home-slider-loop-false .slider-item .slider-text h1 {
  font-size: 40px;
  color: #fff;
  line-height: 1.2;
  font-weight: 800 !important;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text h1, .owl-carousel.home-slider-loop-false .slider-item .slider-text h1 {
    font-size: 40px;
  }
}

.owl-carousel.home-slider .slider-item .slider-text p, .owl-carousel.home-slider-loop-false .slider-item .slider-text p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: white;
}

.owl-carousel.home-slider.inner-page .slider-item, .owl-carousel.home-slider-loop-false.inner-page .slider-item {
  height: calc(50vh - 117px);
  min-height: 550px;
}

.owl-carousel.home-slider.inner-page .slider-item .slider-text, .owl-carousel.home-slider-loop-false.inner-page .slider-item .slider-text {
  color: #fff;
  height: calc(50vh - 117px);
  min-height: 550px;
}

.owl-carousel.home-slider .owl-dots, .owl-carousel.home-slider-loop-false .owl-dots {
  position: absolute;
  bottom: 100px;
  width: 100%;
}

.owl-carousel.home-slider .owl-dots .owl-dot, .owl-carousel.home-slider-loop-false .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  outline: none !important;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel.home-slider .owl-dots .owl-dot.active, .owl-carousel.home-slider-loop-false .owl-dots .owl-dot.active {
  border: 2px solid white;
}

.owl-carousel.home-slider .owl-dots .owl-dot.active span, .owl-carousel.home-slider-loop-false .owl-dots .owl-dot.active span {
  background: white;
}

.owl-carousel.home-slider-loop-false .owl-dots {
  bottom: -50px;
}

.owl-carousel.home-slider-loop-false .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid white;
  outline: none !important;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  background: #ff7a5c;
}

.owl-carousel.home-slider-loop-false .owl-dots .owl-dot.active {
  border: 2px solid #ff7a5c;
}

.owl-carousel.home-slider-loop-false .owl-dots .owl-dot.active span {
  background: white;
}

.owl-carousel.major-caousel .owl-stage-outer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.owl-carousel.major-caousel .owl-nav .owl-prev, .owl-carousel.major-caousel .owl-nav .owl-next {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #495057;
}

.owl-carousel.major-caousel .owl-nav .owl-prev:hover, .owl-carousel.major-caousel .owl-nav .owl-prev:focus, .owl-carousel.major-caousel .owl-nav .owl-next:hover, .owl-carousel.major-caousel .owl-nav .owl-next:focus {
  color: #6c757d;
  outline: none;
}

.owl-carousel.major-caousel .owl-nav .owl-prev.disabled, .owl-carousel.major-caousel .owl-nav .owl-next.disabled {
  color: #dee2e6;
}

.owl-carousel.major-caousel .owl-nav .owl-prev {
  left: -60px !important;
}

.owl-carousel.major-caousel .owl-nav .owl-next {
  right: -60px !important;
}

.owl-carousel.major-caousel .owl-dots {
  bottom: -30px !important;
  position: relative;
}

.owl-custom-nav {
  float: right;
  position: relative;
  z-index: 10;
}

.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-next {
  padding: 10px;
  font-size: 30px;
  background: #ccc;
  line-height: 0;
  width: 60px;
  text-align: center;
  display: inline-block;
}

.menu-burger-wrap {
  position: relative;
  z-index: 1000;
}

.site-nav-toggle {
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  top: -15px;
  z-index: 109;
  display: block !important;
  float: right;
  right: 0;
  display: none;
  border-bottom: none !important;
}

.site-nav-toggle:hover i:before {
  top: -10px;
}

.site-nav-toggle:hover i:after {
  bottom: -10px;
}

.site-nav-toggle.active i {
  background: transparent !important;
}

.site-nav-toggle.active i:before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.site-nav-toggle.active i:after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.site-nav-toggle:hover, .site-nav-toggle:focus, .site-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}

.site-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 30px;
  height: 2px;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #fff;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.site-nav-toggle i:before, .site-nav-toggle i:after {
  content: '';
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.site-nav-toggle i:before {
  top: -7px;
}

.site-nav-toggle i:after {
  bottom: -7px;
}

.section {
  padding: 7em 0;
  z-index: 2;
  position: relative;
}

.text-muted {
  color: #cccccc !important;
}

.custom-pagination {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.custom-pagination li {
  display: inline-block;
}

.custom-pagination .prev a, .custom-pagination .next a {
  font-size: 20px !important;
  line-height: 38px !important;
}

.custom-pagination li a, .custom-pagination .prev a, .custom-pagination .next a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 50% !important;
  font-size: 16px;
}

.custom-pagination li.active a, .custom-pagination .prev.active a, .custom-pagination .next.active a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 50% !important;
  font-size: 16px;
  background: #ff7a5c;
  color: #fff;
}

.custom-pagination li.active a:hover, .custom-pagination li.active a:focus, .custom-pagination .prev.active a:hover, .custom-pagination .prev.active a:focus, .custom-pagination .next.active a:hover, .custom-pagination .next.active a:focus {
  color: #fff;
}

.custom-pagination .prev {
  float: left;
}

.custom-pagination .next {
  float: right;
}

.form-wrap {
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
}

#map {
  width: 100%;
  height: 445px;
  margin-top: -200px;
  z-index: -1;
}

.cover_1 {
  position: relative;
  overflow: hidden;
}

.cover_1.overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .2;
}

.cover_1 .lead {
  color: #fff;
  font-size: 18px;
}

.cover_1 .img_bg {
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center center;
}

.cover_1 .img_bg, .cover_1 .img_bg > .container > .row {
  min-height: 700px;
  height: 100vh;
}

.cover_1.cover_sm .img_bg, .cover_1.cover_sm .img_bg > .container > .row {
  min-height: 600px;
  height: 80vh;
}

.cover_1 .sub-heading {
  color: white;
  font-size: 26px;
  max-width: 500px;
  margin: 0 auto;
}

@media (max-width: 991.98px) {
  .cover_1 .sub-heading {
    font-size: 20px;
  }
}

.cover_1 .heading {
  color: wheat;
  font-weight: 300;
  font-size: 30px;
  line-height: 1.5;
  /* font-weight: 300;
  font-size: 30px;
  line-height: 1.5; */
}

@media (min-width: 768px) {
  .cover_1 .heading {
    font-size: 70px;
    font-weight: 900;
    line-height: 1.2;
  }
}

.cover_1 a:hover {
  color: #fff;
  border-bottom: none;
}

.menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  .menus .item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .menus .item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .menus .item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .menus .item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.menus .item .image, .menus .item .text {
  width: 50%;
}

.menus .item .image {
  background-size: cover;
  background-position: center center;
}

.menus .item .text {
  padding: 40px;
  background: #000;
}

.menus .item .text h3 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 20px;
}

.menus .item .text p {
  color: #fff;
  font-size: 13px;
  opacity: .5;
}

.menus .item .text .price {
  font-size: 30px;
  color: #ff7a5c;
  opacity: 1;
}

.element-animate {
  opacity: 0;
  visibility: hidden;
}

.small-gutters {
  margin-right: -15px;
  margin-left: -15px;
}

.small-gutters > [class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}

.medium-gutters {
  margin-right: -30px;
  margin-left: -30px;
}

.medium-gutters > [class*="col-"] {
  padding-right: 30px;
  padding-left: 30px;
}

.large-gutters {
  margin-right: -45px;
  margin-left: -45px;
}

.large-gutters > [class*="col-"] {
  padding-right: 45px;
  padding-left: 45px;
}

.accordion .btn-block {
  position: relative;
  border-bottom: 1px solid #e6e6e6;
}

.accordion .btn-block .icon {
  position: absolute;
  right: 30px;
  height: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 16px;
}

.accordion .btn-block .icon:before {
  font-family: "Ionicons";
  position: absolute;
}

.accordion .btn-block[aria-expanded="true"] {
  color: #ff7a5c;
}

.accordion .btn-block[aria-expanded="true"] .icon:before {
  content: "\f2f4";
}

.accordion .btn-block[aria-expanded="false"] {
  color: #000;
}

.accordion .btn-block[aria-expanded="false"] .icon:before {
  content: "\f2c7";
}

/* Blog*/
.post-info {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  letter-spacing: .1em;
}

.post-info > div {
  display: inline-block;
}

.post-info > div .seperator {
  display: inline-block;
  margin: 0 10px;
  opacity: .5;
}

.tagcloud a {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  color: #000;
  border: 1px solid #ccc;
  font-size: 11px;
}

.tagcloud a:hover {
  border: 1px solid #000;
}

.comment-form-wrap {
  clear: both;
}

.comment-list {
  padding: 0;
  margin: 0;
}

.comment-list .children {
  padding: 50px 0 0 40px;
  margin: 0;
  float: left;
  width: 100%;
}

.comment-list li {
  padding: 0;
  margin: 0 0 30px 0;
  float: left;
  width: 100%;
  clear: both;
  list-style: none;
}

.comment-list li .vcard {
  width: 80px;
  float: left;
}

.comment-list li .vcard img {
  width: 50px;
  border-radius: 50%;
}

.comment-list li .comment-body {
  float: right;
  width: calc(100% - 80px);
}

.comment-list li .comment-body h3 {
  font-size: 20px;
}

.comment-list li .comment-body .meta {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .1em;
  color: #ccc;
}

.comment-list li .comment-body .reply {
  padding: 5px 10px;
  background: #e6e6e6;
  color: #000;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .1em;
  font-weight: 400;
  border-radius: 4px;
}

.comment-list li .comment-body .reply:hover {
  color: #fff;
  background: black;
}

.search-form {
  background: #f7f7f7;
  padding: 10px;
}

.search-form .form-group {
  position: relative;
}

.search-form .form-group input {
  padding-right: 50px;
}

.search-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #fff;
}

.sidebar-box *:last-child {
  margin-bottom: 0;
}

.sidebar-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.categories li, .sidelink li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dee2e6;
  list-style: none;
}

.categories li:last-child, .sidelink li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.categories li a, .sidelink li a {
  display: block;
}

.categories li a span, .sidelink li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
}

.categories li.active a, .sidelink li.active a {
  color: #000;
  font-style: italic;
}

.ftco-footer-newsletter .form-group {
  position: relative;
}

.ftco-footer-newsletter .form-group .form-control {
  background: #fff;
  color: #000;
  border: none !important;
  border-radius: 0px;
  padding-right: 70px;
}

.ftco-footer-newsletter .form-group .button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  border: none !important;
  background: none;
}

.ftco-footer-newsletter .form-group .button:active, .ftco-footer-newsletter .form-group .button:focus {
  outline: none;
}

.ftco-footer {
  background: #121212;
  padding: 7em 0;
  font-size: 15px;
  font-weight: 400;
}

.ftco-footer .footer-widget h3 {
  font-size: 20px;
  color: #fff;
}

.ftco-footer .footer-widget .list-unstyled.social li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.ftco-footer .footer-widget .list-unstyled.social li a {
  font-size: 24px;
  color: #fff;
}

#loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000;
}

#loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}
